.App {
  font-family: sans-serif;
  text-align: center;
}
.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
}
.tab-body {
  display: flex;
  border: 1px solid black;
  height: 250px;
  padding: 5px;
}
.profile-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.error {
  color: red;
  font-size: 10px;
  display: block;
}
